<!DOCTYPE html>
<html>
<head>
	<title>管理敏感词</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class='container'>
		
	<form role="form" action="/submitwords" id='wordform' method="post">
	  <div class="form-group">
	  	<input type="" name="wordlib" value="wordlib1">
	    <textarea form="wordform" class="form-control" rows="{{rows}}" name='words'>{% for w in data %}{{w}}{% endfor %}</textarea>
	    <button class="btn btn-default" type="submit">提交</button>
	  </div>
	</form> 

</body>
</html>